{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Passagens aéreas</a>
    </nav>

    <form action="{% url 'minha_consulta' %}" method="post">
        {% csrf_token %}

        <div class="container mt-2">
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            </div>
            {% endfor %}
            <input type="submit" value="OK" class="btn btn-success">
        </div>
    </form>

 {% endblock %}